@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-style: normal;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1456px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-btn {
  display: block;
  border: 1px solid #58595B;
  border-radius: 11px;
  text-align: center;
}

.main-btn__text {
  font-weight: bold;
  font-size: 18px;
  color: #58595B;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.main-btn__text--active {
  color: #FDFDFD;
}

.main-btn__text--first {
  color: #E04E39;
  text-align: left;
}

.main-btn__text--news {
  color: #58595B;
  font-family: 'Circe';
  font-weight: bold;
  font-size: 26px;
}

.main-btn__icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  fill: #58595B;
  stroke: #58595B;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.main-btn__icon--first {
  fill: #E04E39;
  stroke: #E04E39;
}

.main-btn__strong {
  color: #EEE2D6;
}

.main-btn:hover {
  border-color: #E04E39;
}

.main-btn:hover .main-btn__text {
  color: #E04E39;
}

.main-btn:hover .main-btn__icon {
  fill: #E04E39;
  stroke: #E04E39;
}

.main-btn--active {
  background-color: #E04E39;
  border-color: #E04E39;
}

.search-form__picture {
  position: absolute;
  left: 4px;
  top: 15px;
}

.search-form__img {
  width: 77px;
  height: 77px;
}

.search-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.search-form__input:focus {
  outline: none;
}

.search-form__btn {
  border: none;
  background-color: #E04E39;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
  padding: 7px 30px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23px;
  text-shadow: 0px 4px 4px rgba(232, 75, 55, 0.25);
  cursor: pointer;
}

.search-form__btn:focus, .search-form__btn:active {
  outline: none;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #58595B;
  margin-right: 8px;
}

.breadcrumbs__item::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #58595B;
  margin-right: 8px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.box-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -23px;
  margin-top: 60px;
}

.box-service__item {
  width: 33.333%;
  padding: 0 23px;
}

.box-service__type {
  padding-left: 80px;
  position: relative;
}

.box-service__icon {
  position: absolute;
  left: 0;
  bottom: 0;
}

.box-service__icon--1 {
  width: 56px;
  height: 59px;
}

.box-service__icon--2 {
  width: 43px;
  height: 59px;
}

.box-service__icon--3 {
  width: 72px;
  height: 59px;
}

.box-service__btn {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #E04E39;
  border: 1px solid #E04E39;
  border-radius: 11px;
  padding: 11px;
  margin-top: 32px;
}

.box-service__name {
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  color: #2C2A29;
}

.header {
  padding-top: 80px;
}

.header__top {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99991;
  border-bottom: 3px solid #E04E39;
}

.header__inner {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__burger {
  margin-right: 22px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border: 1px solid #E04E39;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding-left: 13px;
  padding-right: 13px;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.header__burger:hover {
  border-color: #C39367;
}

.header__burger:hover .header__burger-svg {
  fill: #C39367;
}

.header__burger-svg {
  max-width: 100%;
  max-height: 100%;
  fill: #E04E39;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.header__logo {
  margin-right: 32px;
}

.header__phone {
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #E04E39;
  margin-top: 5px;
}

.header__work-time {
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  display: block;
  text-align: right;
}

.header__time-strong {
  color: #2C2A29;
  font-weight: bold;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0;
}

.navbar__item {
  margin-left: 6px;
}

.navbar__item:first-child {
  margin-left: 0;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 18px;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar__link:hover .navbar__text {
  color: #C39367;
}

.navbar__link:hover .navbar__icon {
  fill: #C39367 !important;
  stroke: #C39367;
}

.navbar__icon {
  width: 36px;
  height: 36px;
  stroke: #E04E39;
  fill: #E04E39;
}

.navbar__text {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.27;
  color: #E04E39;
  padding-left: 16px;
}

.main-content--news {
  background: #F5F5F5;
}

.main-content--info {
  background-color: #ffffff;
}

.main-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 228px;
          flex: 0 0 228px;
  padding-right: 15px;
  padding-top: 40px;
}

.main-content__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
}

.main-content__main--news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 38px;
  margin-left: -16px;
  margin-right: -16px;
  padding-bottom: 42px;
}

.sidebar {
  border-right: 1px solid #B8B6B6;
}

.sidebar__link {
  position: relative;
}

.sidebar__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #C39367;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.sidebar__link-logo {
  display: block;
  text-align: center;
}

.sidebar__nav-list {
  margin-top: 20px;
}

.sidebar__nav-item {
  margin-bottom: 10px;
}

.sidebar__nav-link {
  height: 42px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
}

.sidebar__nav-link--active {
  border-color: #E04E39;
}

.sidebar__nav-link--active:hover .main-btn__icon--first {
  fill: #ffffff;
  stroke: #ffffff;
}

.sidebar__nav-link:hover {
  background: #E04E39;
  color: #fff;
}

.sidebar__nav-link:hover .main-btn__icon {
  fill: #fff;
  stroke: #fff;
}

.sidebar__nav-link:hover .main-btn__text {
  color: #fff;
}

.sidebar__paragraphe {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 150%;
  color: #58595B;
  padding-right: 2rem;
  margin-top: 65px;
  margin-bottom: 23px;
}

.sidebar__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #263238;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
}

.sidebar__label span {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #E3CCB7;
  border-radius: 100%;
}

.sidebar__radio {
  display: none;
}

.sidebar__radio:checked + span {
  background-color: #C39367;
}

.sidebar__pub-img {
  width: 200px;
  margin-top: 100px;
}

.sidebar__stat-img {
  width: 200px;
}

.sidebar__title {
  font-family: 'Circe' Bold;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 35px;
  color: #EEE2D6;
  text-align: center;
  margin-bottom: 23px;
}

.sidebar__sub-list--child {
  margin-left: 40px;
}

.sidebar__sub-item {
  margin-bottom: 16px;
}

.sidebar__sub-title {
  margin-bottom: 13px;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 26px;
  color: #2C2A29;
}

.sidebar__fas-icon {
  padding-left: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.sidebar__label-service {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 23px;
  color: #2C2A29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__label-service--child {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 22px;
}

.sidebar__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
}

.sidebar__input:checked + .sidebar__check-style {
  background: url(../img/checkmark.png) no-repeat;
  background-position: center;
  border: none;
}

.sidebar__check-style {
  width: 20px;
  height: 20px;
  border: 2px solid #E04E39;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  position: absolute;
}

.sidebar__check-style + span {
  margin-left: 28px;
}

.sidebar__wrap-btn {
  text-align: right;
  margin-top: 70px;
  margin-bottom: 90px;
}

.sidebar__btn {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #E04E39;
  padding: 8px 30px;
  text-shadow: 0px 4px 4px rgba(232, 75, 55, 0.25);
  border: 2px solid #E04E39;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 0px 0.53333px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 0px 0px 0.53333px rgba(255, 255, 255, 0.2);
  -webkit-filter: drop-shadow(-2.66667px -2.66667px 8px #FFFFFF), drop-shadow(4px 4px 8px rgba(174, 174, 192, 0.4));
          filter: drop-shadow(-2.66667px -2.66667px 8px #FFFFFF), drop-shadow(4px 4px 8px rgba(174, 174, 192, 0.4));
  border-radius: 40px;
}

.showcase {
  width: 100%;
}

.showcase__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 13px;
}

.showcase__title {
  font-family: 'Circe';
  font-weight: 800;
  font-size: 45.5093px;
  line-height: 68px;
  color: #623B2A;
}

.showcase__strong {
  color: #E04E39;
}

.showcase__phone {
  font-weight: bold;
  font-size: 31px;
  line-height: 46px;
  color: #E04E39;
}

.showcase__work-time {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  display: block;
  text-align: right;
  color: #2C2A29;
}

.showcase__btn {
  position: relative;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.085em;
  color: #E04E39;
  border: 0.5px solid #E04E39;
  padding: 13px 20px;
  margin-top: 16px;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.showcase__btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(224, 78, 57, 0.4);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: slidein 2s linear infinite;
          animation: slidein 2s linear infinite;
  border-radius: 50%;
}

.showcase__btn:hover {
  color: #EEE2D6;
  background-color: #E04E39;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.showcase__btn:hover::before {
  -webkit-animation: none;
          animation: none;
}

.showcase__slider {
  margin-top: 30px;
}

.showcase__slider-item {
  border-radius: 9px;
  background-color: #EEE2D6;
  height: 100%;
  position: relative;
}

.showcase__slider-caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  padding-right: 32px;
  padding-top: 32px;
}

.showcase__slider-title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 50px;
  color: #E04E39;
}

.showcase__slider-title-strong {
  color: #623B2A;
}

.showcase__slider-text {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 31px;
  color: #623B2A;
  margin-top: 15px;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.showcase .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  border: none;
}

.showcase .bx-viewport {
  height: 340px !important;
}

.showcase .bx-wrapper .bx-pager, .showcase .bx-wrapper .bx-controls-auto {
  bottom: 22px;
  right: -484px;
}

.showcase .bx-wrapper .bx-pager.bx-default-pager a {
  background: #E3CCB7;
}

.showcase .bx-wrapper .bx-pager.bx-default-pager a.active,
.showcase .bx-wrapper .bx-pager.bx-default-pager a:focus,
.showcase .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #CFA580;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}

.services__item {
  width: 25%;
  padding: 0 16px;
  margin-bottom: 32px;
}

.services__card {
  position: relative;
  height: 90px;
  width: 100%;
  background-color: #FDFDFD;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0s linear;
  transition: -webkit-transform 0s linear;
  transition: transform 0s linear;
  transition: transform 0s linear, -webkit-transform 0s linear;
}

.services__card::before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #E04E39;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transition: left .7s linear;
  transition: left .7s linear;
}

.services__card::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #E04E39;
  position: absolute;
  bottom: 0;
  right: 100%;
  -webkit-transition: right .7s linear;
  transition: right .7s linear;
}

.services__card:hover {
  -webkit-transform: scale(1.05, 1.3);
          transform: scale(1.05, 1.3);
}

.services__card:hover::before {
  left: 0;
}

.services__card:hover::after {
  right: 0;
}

.services__card:hover .services__left {
  top: 0;
}

.services__card:hover .services__right {
  bottom: 0;
}

.services__card:hover .services__overlay {
  background: transparent;
  color: #2C2A29;
}

.services__card:hover .services__img {
  opacity: 1;
}

.services__card:hover .services__title {
  color: #2C2A29;
  font-size: 16px;
}

.services__card:hover .services__text {
  color: #2C2A29;
}

.services__left {
  position: absolute;
  top: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: #E04E39;
  -webkit-transition: top .7s linear;
  transition: top .7s linear;
}

.services__right {
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: #E04E39;
  -webkit-transition: bottom .7s linear;
  transition: bottom .7s linear;
}

.services__img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .3;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.services__overlay {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 9px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(28.67%, #E04E39), to(rgba(224, 78, 57, 0)));
  background: linear-gradient(90deg, #E04E39 28.67%, rgba(224, 78, 57, 0) 100%);
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

.services__title {
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: #EEE2D6;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.services__text {
  font-weight: 400;
  font-size: 11.1169px;
  line-height: 14px;
  color: #EEE2D6;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.news__info {
  width: 33.3%;
  padding-left: 16px;
  position: relative;
}

.news__content {
  position: relative;
  width: 38.3%;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.news__slider {
  width: 28.3%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  position: relative;
}

.news__title {
  font-family: 'Circe';
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  text-transform: capitalize;
  color: #E04E39;
  margin-bottom: 23px;
}

.news__info-card {
  width: 100%;
}

.news__info-image {
  display: block;
  width: 100%;
  height: 246px;
}

.news__info-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #58595B;
  margin-top: 20px;
  margin-bottom: 80px;
}

.news__nav-item {
  margin-right: 30px;
}

.news__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.news__nav-link {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 2.25rem;
  color: #EEE2D6;
  padding: 7px 22px;
}

.news__card-item {
  border: 1px solid transparent;
  margin-bottom: 28px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.news__card-item:hover {
  border-radius: 11px;
  border-left-width: 13px;
  padding: 11px;
  border-color: #E04E39;
}

.news__card-text {
  font-weight: 400;
  font-size: 18px;
  color: #2C2A29;
  margin-bottom: 8px;
  line-height: 24px;
}

.news__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 15.6818px;
  color: #58595B;
}

.news__card-btn {
  display: inline-block;
  padding: 8px 14px;
}

.news__card-btn:hover {
  color: #EEE2D6;
  background-color: #C39367;
  border-radius: 5px;
}

.news__slider-inner {
  height: 678px;
}

.news__slider-item {
  position: relative;
  height: 678px;
  width: 338px;
}

.news__slider-img {
  width: 338px;
  height: 597px;
}

.news__slider-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px 24px 8px 24px;
  text-align: right;
  padding-top: 80px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(37%, #E04E39), to(rgba(224, 78, 57, 0)));
  background: linear-gradient(to top, #E04E39 37%, rgba(224, 78, 57, 0) 100%);
  border-radius: 11px;
}

.news__slider-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #EEE2D6;
  text-align: left;
  margin-bottom: 60px;
}

.news__slider-btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18.7522px;
  line-height: 150%;
  padding: 11px 46px;
  color: #C39367;
  border: 1px solid #C39367;
  border-radius: 11px;
  margin-top: 6px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 16px;
}

.news__slider-btn--show {
  left: initial;
  right: 16px;
  bottom: 6px;
  padding: 5px 20px;
  color: #ffffff;
  border-color: #ffffff;
}

.news__slider-btn--show:hover {
  color: #E04E39;
  background: #EEE2D6;
}

.news__slider-btn--light {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #58595B;
  border-color: #58595B;
}

.news__slider-btn--light:hover {
  color: #E04E39;
  background: #F8B79E;
  border-color: #E04E39;
}

.news__content-btn {
  position: absolute;
  left: 16px;
  bottom: 0px;
}

.news .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  border-radius: 11px;
}

.news .bx-wrapper .bx-pager {
  bottom: 22px;
  left: -31px;
  width: 60%;
}

.news .bx-wrapper .bx-pager.bx-default-pager a {
  background: #E3CCB7;
}

.news .bx-wrapper .bx-pager.bx-default-pager a.active, .news .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #623B2A;
}

.news .bx-next, .news .bx-prev {
  display: none;
}

.info {
  position: relative;
  padding-bottom: 84px;
}

.info__title {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  color: #E04E39;
  margin-top: 97px;
  margin-bottom: 47px;
}

.info__partener-item {
  text-align: center;
  height: 150px;
}

.info__partener-inner {
  height: 100%;
}

.info__partener-wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.info__partener-caption {
  font-weight: normal;
  font-size: 16px;
  line-height: 149.9%;
  color: #2C2A29;
}

.info__partener-img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .4;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.info__partener-img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.info__form {
  margin-bottom: 207px;
}

.info__form-btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #58595B;
  border: none;
  padding: 11px 72px;
  margin-right: 33px;
  margin-top: 20px;
  border-radius: 11px;
  border: 1px solid #58595B;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.info__form-btn:hover {
  background-color: #E04E39;
  border-color: #E04E39;
  color: #EEE2D6;
}

.info__wrap-list {
  border-radius: 11px;
  background-color: #ffffff;
  border: 2px solid #E04E39;
  width: 465px;
  margin-top: 30px;
  overflow: hidden;
}

.info__form-input {
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  color: rgba(44, 42, 41, 0.4);
  padding: 15px 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #E04E39;
}

.info__form-input:focus {
  outline: none;
}

.info__form-list {
  margin-left: 8px;
}

.info__form-list-item {
  height: 30px;
  line-height: 30px;
  margin: 6px 0;
  font-weight: 400;
  font-size: 13px;
  color: #58595B;
}

.info__form-city {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  padding-left: 4px;
}

.info__form-svg {
  width: 15px;
  height: 19px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.info__time-title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 23px;
  color: #808285;
}

.info__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #A7A9AC;
  display: inline-block;
  width: 200px;
  margin-top: 25px;
}

.info__out {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 2px solid #C39367;
  border-radius: 100%;
}

.info__out--first {
  border-color: #31B647;
}

.info__out--second {
  border-color: #FFDB4D;
}

.info__out--middle {
  border-color: #E04E39;
}

.info__out--last {
  border-color: #ABABAB;
}

.info__radio {
  display: none;
}

.info__radio:checked + span {
  background-color: #C39367;
}

.info__map {
  position: absolute;
  right: 0;
  top: 450px;
  cursor: pointer;
}

.info__yandex-map {
  position: absolute;
  right: 0;
  top: 450px;
  width: 560px;
  height: 600px;
  display: none;
}

.info .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.info .bx-wrapper .bx-pager, .info .bx-wrapper .bx-controls-auto {
  display: none;
}

.info .bx-wrapper .bx-prev {
  left: -3px;
  background: url(../img/left.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.info .bx-wrapper .bx-next {
  right: -3px;
  background: url(../img/right.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.info .bx-wrapper .bx-prev:hover,
.info .bx-wrapper .bx-prev:focus,
.info .bx-wrapper .bx-next:hover,
.info .bx-wrapper .bx-next:focus {
  background-position: center;
}

.info .bx-wrapper .bx-controls-direction a {
  width: 16px;
  height: 22px;
}

.socials__logo {
  margin-right: auto;
}

.socials__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #686665;
  margin-bottom: 16px;
}

.socials__icons {
  margin-top: 50px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__list-item + .socials__list-item {
  margin-left: 30px;
}

.socials__phone {
  font-family: 'Circe';
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #2C2A29;
  margin-bottom: 10px;
}

.socials__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2C2A29;
}

.socials__img {
  height: 46px;
  width: 46px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.socials__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.our-services {
  padding-top: 40px;
}

.our-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 58px;
}

.our-services__sidebar {
  background: rgba(195, 147, 103, 0.2);
  padding: 14px 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 336px;
          flex: 0 0 336px;
}

.our-services__inner {
  margin-left: 30px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.our-services__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 41px;
  margin-bottom: 48px;
}

.our-services__search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 30px;
  background: #FFFFFF;
  border: 1px solid #565554;
  border-radius: 10px;
  position: relative;
}

.our-services__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.our-services__name {
  font-family: 'PT Sans';
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 23px;
  color: #686665;
}

.our-services__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.our-services__filter-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 5px 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23px;
  color: #E04E39;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.our-services__fas-icon {
  padding-left: 10px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.our-services__list {
  width: 100%;
  margin-top: 40px;
}

.our-services__list-item {
  background: #FFFFFF;
  border: 1px solid #C39367;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.our-services__list-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 23px;
  color: #2C2A29;
}

.our-services__list-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.offers__breadcrumbs {
  margin-bottom: 16px;
  margin-top: 30px;
}

.offers__title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 150%;
  color: #E04E39;
}

.offers__bar {
  font-family: 'Circe';
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #FDFDFD;
  padding: 12px 28px;
  background-color: #E04E39;
  border-radius: 11px 11px 0 0;
  margin-top: 23px;
  margin-bottom: 13px;
}

.offers__list {
  border: 2px solid #C39367;
}

.offers__sublist {
  padding: 27px;
}

.offers__sublist-item {
  margin-bottom: 32px;
}

.offers__list-title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #E04E39;
  padding: 20px 27px;
  background-color: #EEE2D6;
  border-bottom: 2px solid #C39367;
}

.offers__sublist-title {
  font-family: 'Circe';
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #E04E39;
  margin-bottom: 21px;
}

.offers__sublist-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #2C2A29;
}

.offers__sublist-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #2C2A29;
}

.offers__sublist-text::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #C39367;
  margin-right: 8px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.offers__sublist-btn {
  font-weight: normal;
  font-size: 24px;
  color: #E04E39;
  border: 1px solid #E04E39;
  padding: 8px 24px;
  background-color: #ffffff;
  border-radius: 11px;
  margin-top: 18px;
}

.footer {
  padding-bottom: 55px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 57px;
}

.footer__item:nth-child(2) {
  width: 265px;
  margin-left: 40px;
  margin-right: 70px;
}

.footer__item:last-child {
  margin-left: auto;
}

.footer__title {
  font-weight: normal;
  font-size: 19px;
  line-height: 20px;
  color: #2C2A29;
  margin-bottom: 28px;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #808285;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.footer__list-link:hover {
  color: #E04E39;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #E04E39;
}

.footer__btn {
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  color: #E04E39;
  border: 1px solid #E04E39;
  padding: 9px 67px;
  border-radius: 11px;
  display: inline-block;
  margin-left: 110px;
}

.fix-nav {
  position: fixed;
  left: 0;
  top: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fix-nav__item {
  background-color: #E04E39;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fix-nav__item:hover {
  background-color: #f7864e;
}

.fix-nav__item--img {
  height: auto;
  background-color: #ffffff;
}

.fix-nav__item--img:hover {
  background-color: #ffffff;
}

.chat {
  position: fixed;
  bottom: 40px;
  right: 80px;
  cursor: pointer;
  text-align: center;
  line-height: 110px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #F17757;
  border: 1.82919px solid #E04E39;
  -webkit-box-shadow: 7.31675px 7.31675px 9.14593px rgba(55, 84, 170, 0.1);
          box-shadow: 7.31675px 7.31675px 9.14593px rgba(55, 84, 170, 0.1);
}

.chat__img {
  width: 38px;
  height: 34px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  width: 100%;
  z-index: 99992;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__form {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 11px;
  background-color: #ffffff;
  border: 2px solid #E04E39;
}

.modal__input {
  width: 825px;
  outline: none;
  padding: 13px 27px;
  padding-right: 45px;
  background: #FFFFFF;
  border: 1px solid #E04E39;
  border-bottom: 2px solid #E04E39;
  border-radius: 8px;
  font-size: 18px;
  color: #58595B;
}

.modal__svg-icon {
  width: 23px;
  height: 22px;
}

.modal__btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: none;
  position: absolute;
  right: 0;
  padding-top: 5px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.modal__form-title {
  font-size: 18px;
  line-height: 25px;
  color: #58595B;
  margin-left: 38px;
  margin-top: 10px;
}

.modal__list {
  margin-left: 53px;
  margin-top: 12px;
  padding-bottom: 8px;
}

.modal__list-item {
  font-size: 16px;
  line-height: 22px;
  color: #58595B;
  margin-bottom: 8px;
}
/*# sourceMappingURL=styles.css.map */