@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap');



*,
*::after,
*::before {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; }

html {
    font-size: 100%; 
}

body {
    font-size: 1rem;
    //font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-family: 'PT Sans', sans-serif;
    // line-height: 1.05;
    //color: $main_color;
}
a {
    color: #000;
    text-decoration: none;
}

//colors
$red: #E04E39;
$beige: #EEE2D6;
$brown:#623B2A;



.wrapper {
    max-width: 1604px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    //max-width: 1236px;
    max-width: 1456px;
    margin: 0 auto;
    padding: 0 10px;
}

//ОБЩИЕ СТИЛУ
.main-btn {
    display: block;
    border: 1px solid #58595B;
    border-radius: 11px;
}

// HEADER
.header {

    &__top {
        background-color: $red;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        padding-top: 6px;
    }
    &__burger {
        width: 30px;
        height: 25px;
        margin-right: 92px;
        padding-top: 6px;
        cursor: pointer;
    }
    &__logo {
        width: 94px;
        height: 32px;
        margin-right: 32px;
    }
    &__phone {
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        color: #FDFDFD;
    }
    &__work-time {
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        display: block;
        text-align: right;
    }
}

//NAVBAR
.navbar {
    &__list {
        display: flex;
        padding: 6px 0;
    }

    &__item {
        margin-left: 36px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;

    }
    &__icon {
       width: 36px;
       height: 36px;
    }
    &__text {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.27;
        color: #EEE2D6;
        padding-left: 16px;
    }
}

.main-content {
    flex: 1 1 auto;
    &__inner {
        display: flex;
    }
    &__sidebar {
        flex: 0 0 228px;
        //width: 228px;
        padding-right: 15px;
        
    }
    &__main {
        flex: 1 1 auto;
        //flex-basis: auto;
        //width: 100%;
    }
}

//SIDEBAR
.sidebar {
    border-right: 1px solid #B8B6B6;
    &__link {
         position: relative;
         //margin-bottom: 60px;
        &::after {
            content: "";
            display: block;
            width: 88px;
            height: 1px;
            background-color: #C39367;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__main-logo {
        width: 212px;
        height: 65px;
        margin-top: 15px;
        padding-bottom: 23px;
    }
    &__nav-list {
        margin-top: 60px;
    }
    &__nav-item {
        margin-bottom: 10px;
    }
    &__nav-link {
        height: 42px;
        line-height: 1;
        display: flex;
        align-items: center;
        padding-left: 13px;
        transition: all .5s linear;
        &:hover {
            border-color: $red;
        }
        &:hover .sidebar__text {
            color: $red;
        }
        &:hover .sidebar__icon {
            fill: $red;
            stroke: $red;
        }
        &--active {
            background-color: $red;
            border-color: $red;
        }
    }
    &__icon {
        height: 20px;
        width: 20px;
        margin-right: 17px;
        fill: #58595B;
         stroke: #58595B;
    }
    &__text {
        font-weight: bold;
        font-size: 18px;
        color: #58595B;
        &--active {
            color: #FDFDFD;
        }
    }
}

//MAIN
.main {
    padding-left: 15px;
}

.showcase {
    width: 100%;
    //border: 2px solid yellow;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 13px;
    }
    &__title {
        font-family: 'Circe';
        font-weight: 800;
        font-size: 45.5093px;
        //line-height: 150%;
        line-height: 68px;
        color: #623B2A;

    }
    &__strong {
        color: $red;
    }
    &__phone {
        //font-family: Circe;
        font-weight: bold;
        font-size: 31px;
        line-height: 46px;
        color: $red;
    }
    &__work-time {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        display: block;
        text-align: right;
        color: #2C2A29
    }
    &__btn {
        //display: inline-block;
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.085em;
        color: $red;
        border: 0.5px solid $red;
        padding: 13px 20px;
        margin-top: 16px;
        transition: all .4s ease-in-out;
        &:hover {
            color: $beige;
            background-color: $red;
            //box-shadow: 4px 4px 5px rgba(55, 84, 170, 0.1);
            box-shadow: 4px 4px  2px rgba(0, 0, 0, .2);
        }
    }
    &__slider {
       // width: 100%;
        //border: 1px solid red; 
       
        //height: 300px;
        max-width: 1195px;
        //width: 100%;
        margin-top: 30px;
    }
    &__slider-item {
         border-radius: 9px;
        //height: 400px;
        // width: 100%;
        background-color: $beige;
        height: 100%;
        position: relative;
    }
    &__slider-svg {
        //height: 300px;
    }
    &__slider-caption {
        position: absolute;
        top: 0;
        right: 0;
        width:48%;
        padding-right: 32px;
        padding-top: 32px;
    }
    &__slider-title {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 50px;
        color:$red
    }
    &__slider-title-strong {
        color: $brown;
    }
    &__slider-text {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 31px;
        color: $brown;
        margin-top: 15px;
    }

    //slick slider css
    .slick-dots {
        bottom: 4px;
        left: 300px;
        list-style: none;
    }
    .slick-dots li button {
        width: 10px;
        height: 10px;
        background: #E3CCB7;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button{
        background: $red;
    }
    .slick-dots li button:before{
        content: "";
    }

}