@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}

html {
    font-size: 100%; 
}

body {
    font-size: 1rem;
    //font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-family: 'PT Sans', sans-serif;
    // line-height: 1.05;
    //color: $main_color;
}
a {
    color: #000;
    text-decoration: none;
}

//colors
$red: #E04E39;
$beige: #EEE2D6;
$brown:#623B2A;



.wrapper {
    //max-width: 1604px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    max-width: 1456px;
    margin: 0 auto;
    padding: 0 10px;
}

//ОБЩИЕ СТИЛУ
.main-btn {
    display: block;
    border: 1px solid #58595B;
    border-radius: 11px;
    text-align: center;
    
    &__text {
        font-weight: bold;
        font-size: 18px;
        color: #58595B;
        //text-transform: capitalize;
        transition: all .4s linear;
        &--active {
            color: #FDFDFD;
        }
        &--first  {
            color: $red;
            text-align: left;
        }
        &--news {
            color: #58595B;
            font-family: 'Circe';
            font-weight: bold;
            font-size: 26px;
        }
    }
    &__icon {
        height: 20px;
        width: 20px;
        margin-right: 8px;
        fill: #58595B;
        stroke: #58595B;
        transition: all .4s linear;
        &--first {
            fill: $red;
            stroke: $red;
        }
    }
    &__strong {
        color: #EEE2D6;
    }
    &:hover {
        border-color: $red;
    }
    &:hover .main-btn__text {
        color: $red;
    }
    &:hover .main-btn__icon {
        fill: $red;
        stroke: $red;
    }
    &--active {
        background-color: $red;
        border-color: $red;
    }
}

// HEADER
.header {
    padding-top: 80px;
    &__top {
        background-color: $red;
        position: fixed;
        top:0;
        width: 100%;
        z-index: 99999;
        //height: 80px;
    }
    &__inner {
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: center;
    }
    &__burger {
        margin-right: 22px;
        width: 52px;
        height: 52px;
        cursor: pointer;
        border: 1px solid #EEE2D6;
        box-sizing: border-box;
        border-radius: 11px;
        padding-left: 13px;
        padding-right: 13px;
        transition: all .4s linear;
        &:hover {
            background-color: #ffffff;
            border-color: #ffffff;
        }
        &:hover .header__burger-svg {
            fill: $red
        }
    }
    &__burger-svg {
        max-width: 100%;
        max-height: 100%;
        fill: white;
        transition: all .4s linear;
    }
    &__logo {
        margin-right: 32px;
    }
    &__phone {
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FDFDFD;
        margin-top: 5px;
    }
    &__work-time {
        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        display: block;
        text-align: right;
    }
    &__time-strong {
        color: #2C2A29;
        font-weight: bold;
    }
    
}

//NAVBAR
.navbar {
    &__list {
        display: flex;
        padding: 6px 0;
    }
    &__item {
        margin-left: 6px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        padding: 6px 18px;
        transition: all .4s linear;
        &:hover {
            background: #ffffff;
            border-radius: 11px;
        }
        &:hover .navbar__text {
            color: $red;
        }
        &:hover .navbar__icon  {
            fill: $red!important;
            stroke: $red;
        }
    }
    &__icon {
       width: 36px;
       height: 36px;
       stroke: #EEE2D6;
       fill: #EEE2D6;
       
    }
    &__text {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.27;
        color: #EEE2D6;
        padding-left: 16px;
    }
}

.main-content {
    //flex: 1 1 auto;
    &--news {
        background: #F5F5F5;
    }
    &--info {
        background-color: #ffffff;
        border-bottom: 1px solid #E0E2E5;
    }
    &__inner {
        display: flex;
    }
    &__sidebar {
        flex: 0 0 228px;
        padding-right: 15px;
    }
    &__main {
        flex: 1 1 auto;
        padding-left: 15px;
        &--news {
            display: flex;
            padding-top: 38px;
            margin-left: -16px;
            margin-right: -16px;
            padding-bottom: 42px;
        }
    }
}

//SIDEBAR
.sidebar {
    border-right: 1px solid #B8B6B6;
    &__link {
         position: relative;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #C39367;
            position: absolute;
            bottom: 0px;
            left: 0;
            //transform: translateX(-50%);
        }
    }
    &__main-logo {
        width: 212px;
        height: 80px;
        margin-top: 43px;
        padding-bottom: 23px;
    }
    &__nav-list {
        margin-top: 56px;
    }
    &__nav-item {
        margin-bottom: 10px;
    }
    &__nav-link {
        height: 42px;
        line-height: 1;
        display: flex;
        align-items: center;
        //justify-content: center;
        padding-left: 12px;
        &--active {
            border-color: $red;
            &:hover .main-btn__icon--first {
                fill: #ffffff;
                stroke: #ffffff;
            }
            
        }
        &:hover {
            background: $red;
            color: #fff;
        }
        &:hover .main-btn__icon  {
            fill: #fff;
            stroke: #fff;
        }
        &:hover .main-btn__text {
            color:#fff;
        }
    }

    &__paragraphe {
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 150%;
        color: #58595B;
        padding-right: 2rem;
        margin-top: 65px;
        margin-bottom: 23px;
    }
    &__label {
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #263238;
        display: inline-block;
        width: 200px;
        margin-top: 20px;
        span {
            display: inline-block;
            height: 12px;
            width: 12px;
            //border: 1px solid #C39367;
            background-color: #E3CCB7;
            border-radius: 100%;
        }
    }
    &__radio {
        display: none;
    }
    &__radio:checked + span {
        background-color:#C39367;
    }
    &__pub-img {
        width: 200px;
        margin-top: 100px;
    }
    &__stat-img {
        width: 200px;
    }
}

//MAIN
.main {
    //padding-left: 15px;
}

.showcase {
    width: 100%;
    //display: none;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 13px;
    }
    &__title {
        font-family: 'Circe';
        font-weight: 800;
        font-size: 45.5093px;
        line-height: 68px;
        color: #623B2A;
    }
    &__strong {
        color: $red;
    }
    &__phone {
        font-weight: bold;
        font-size: 31px;
        line-height: 46px;
        color: $red;
    }
    &__work-time {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        display: block;
        text-align: right;
        color: #2C2A29
    }
    &__btn {
        //display: inline-block;
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.085em;
        color: $red;
        border: 0.5px solid $red;
        padding: 13px 20px;
        margin-top: 16px;
        transition: all .4s ease-in-out;
        &:hover {
            color: $beige;
            background-color: $red;
            box-shadow: 4px 4px  2px rgba(0, 0, 0, .2);
        }
    }
    &__slider {
        margin-top: 30px;
    }
    &__slider-item {
         border-radius: 9px;
        background-color: $beige;
        height: 100%;
        position: relative;
    }
    &__slider-svg {
        //height: 300px;
    }
    &__slider-caption {
        position: absolute;
        top: 0;
        right: 0;
        width:48%;
        padding-right: 32px;
        padding-top: 32px;
    }
    &__slider-title {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 50px;
        color:$red
    }
    &__slider-title-strong {
        color: $brown;
    }
    &__slider-text {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 31px;
        color: $brown;
        margin-top: 15px;
    }

    //BXSLIDER
    .bx-wrapper {
        box-shadow: none;
        background: transparent;
        border: none;
    }
    .bx-viewport {
        height: 340px!important;
    }
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 22px;
        right: -484px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #E3CCB7;
    }
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus,
    .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: #CFA580;
    }
}

//SERVICES
.services {
    display: flex;
    flex-wrap: wrap;
   // grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    margin: 0 -16px;
    &__item {
        width: 25%;
        padding: 0 16px;
        margin-bottom: 32px;
    }
    &__card {
        position: relative;
        height: 90px;
        width: 100%;
        background-color: #FDFDFD;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0s linear;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 6px;
            background: $red;
            position: absolute;
            top: 0;
            left: 100%;
            transition: left .7s linear;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 6px;
            background: $red;
            position: absolute;
            bottom: 0;
            right: 100%;
            transition: right .7s linear;
        }
        &:hover {
            transform: scale(1.05, 1.3);
        }
        
        &:hover::before {
            left: 0;
        }
        &:hover::after {
            right: 0;
        }
        &:hover .services__left {
            top: 0;
        }
        &:hover .services__right {
            bottom: 0;
        }
        &:hover .services__overlay {
            background: transparent;
            color:#2C2A29;
        }
        &:hover .services__img {
            opacity: 1;
        }
        &:hover .services__title {
            color: #2C2A29;
            font-size: 16px;
        }
        &:hover .services__text {
            color: #2C2A29;
        }
    }
    &__left {
        position: absolute;
        top: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: $red;
        transition: top .7s linear;
    }
    &__right {
        position: absolute;
        bottom: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: $red;
        transition: bottom .7s linear;

    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        //border-radius: 8px;
        opacity: .3;
        transition: opacity 0s linear;
    }
    &__overlay {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 14px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 9px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, #E04E39 28.67%, rgba(224, 78, 57, 0) 100%);
        //border: 1px solid transparent;
        transition: all .6s linear;
    }
    &__title {
        font-family: "Circe";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        color: $beige;
        transition: all .1s linear;
    }
    &__text {
        font-weight: 400;
        font-size: 11.1169px;
        line-height: 14px;
        color: $beige;
        transition: all .5s linear;
    }
}

//NEWS
.news {

    &__content {
        position: relative;
        flex: 1;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__slider {
        flex: 1;
        //border: 1px solid red;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__nav-item {
        margin-right: 30px;
    }
    &__nav-list {
        display: flex;
        margin-bottom: 40px;
    }
    &__nav-link {
        font-family: 'Circe';
        font-weight: 700;
        font-size: 2.25rem;
        color: #EEE2D6;
        padding: 7px 22px;
    }
    &__card-item {
        border: 1px solid transparent;
         margin-bottom: 28px;
         transition: all .3s ease-in-out;
         cursor: pointer;
        &:hover {
            border-radius: 11px;
            border-left-width: 13px;
            padding: 11px;
            border-color: $red;
        }
    }
    &__card-text {
        font-weight: normal;
        font-size: 18px;
        color: #2C2A29;
        margin-bottom: 8px;
        line-height: 26px;
    }
    &__card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        font-weight: normal;
        font-size: 15.6818px;
        color: #58595B;
    }
    &__card-date {
        
    }&__card-btn {
        display: inline-block;
        padding: 8px 14px;
        &:hover {
            color: #EEE2D6;
            background-color: #C39367;
            border-radius: 5px;
            
        }
    }
    &__slider-item {
       position: relative;
    }
    &__slider-caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 24px 24px 8px 24px;
        text-align: right;
    }
    &__slider-text {
        font-weight: normal;
        font-size: 19px;
        line-height: 150%;
        color: #EEE2D6;
        text-align: left;
    }
    &__slider-btn {
        display: inline-block;
        font-weight: bold;
        font-size: 18.7522px;
        line-height: 150%;
        padding: 11px 46px;
        color: #C39367;
        border: 1px solid #C39367;
        border-radius: 11px;
        margin-top: 16px;
        transition: all .4s ease-in-out;
        &--show:hover {
            color: $red;
            background: #EEE2D6;

        }
        &--light {
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #58595B;
            border-color: #58595B;
            &:hover {
                color:$red;
                background: #F8B79E;
                border-color: $red;
            }
        }
    }
    &__content-btn {
        position: absolute;
        left: 16px;
        bottom: 0px;
    }

    //bxslider
    .bx-wrapper {
       
        box-shadow: none;
        border:none;
        background: transparent;
        border-radius: 11px;
    }
    .bx-wrapper .bx-pager{
        // bottom: 22px;
        // left: -127px;
        bottom: 22px;
        left: -45px;
        width: 60%;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background:  #E3CCB7;
    }
    .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $red;
    }
}

//INFO
.info {
    position: relative;
    padding-bottom: 84px;
    &__title {
        font-family: 'Circe';
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 1;
        color: #E04E39;
        margin-top: 97px;
    }
    &__partener-list {
       
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        // margin-top: 32px;
        // padding-bottom: 40px;
        // border-bottom: 1px solid #E0E2E5;
    }
    &__partener-item {
        text-align: center;
        //border: 1px solid red;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__partener-img {
        filter: grayscale(100%);
        opacity: .4;
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
    }
    &__form {
        margin-bottom: 407px;
    }
    &__form-btn {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #58595B;
        border: none;
        padding: 11px 72px;
        margin-right: 33px;
        margin-top: 20px;
        border-radius: 11px;
        border: 1px solid #58595B;
        transition: all .2s linear;
        cursor: pointer;
        &:hover {
            background-color: $red;
            border-color: $red;
            color: #EEE2D6;
        }
    }
    &__form-input {
        border: 1px solid #E04E39;
        border-radius: 11px;
        padding: 15px 30px;
        width: 465px;
        margin-top: 30px;
        &:focus {
            outline: none;
        }
    }
    &__time-title {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 23px;
        color: #808285
    }
    &__label {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #A7A9AC;
        display: inline-block;
        width: 200px;
        //border:1px solid;
        margin-top: 25px;
        
    }
    &__out {
            display: inline-block;
            height: 12px;
            width: 12px;
            border: 2px solid #C39367;
            border-radius: 100%;
            &--first {
                border-color: #31B647;
            }
            &--second {
                border-color: #FFDB4D;
            }
            &--middle {
                border-color: $red;
            }
            &--last {
                border-color: #ABABAB;
            }
    }
    &__radio {
        display: none;
    }
    &__radio:checked + span {
        background-color:#C39367;
    }
    &__map {
        position: absolute;
        right: 0;
        bottom: 77px;
    }

    //BXSLIDER
    .bx-wrapper {
        box-shadow: none;
        border: none;
        border-bottom: 1px solid rgb(207, 203, 203);
    }
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        display: none;
    }
    .bx-wrapper .bx-prev {
        left: -3px;
        background: url(../img/left.svg) no-repeat;
        background-position: center;
        background-size: cover;
        //border: 1px solid red;
    }
    .bx-wrapper .bx-next {
        right: -3px;
        background: url(../img/right.svg) no-repeat;
        background-position: center;
        background-size: cover;
        //border: 1px solid red;
    }
    .bx-wrapper .bx-prev:hover,
    .bx-wrapper .bx-prev:focus,
    .bx-wrapper .bx-next:hover,
    .bx-wrapper .bx-next:focus
     {
        background-position: center;
    }
    .bx-wrapper .bx-controls-direction a {
       
        width: 16px;
        height: 22px;
    }
   
}

//SOCIALS
.socials {
    
    &__inner {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: auto;
        width: 185px;
       // margin-left: 70px;
    }
    &__title {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #686665;
        margin-bottom: 16px;
    }
    &__icons {
        margin-right: 84px;
    }
    &__list {
        display: flex;
        
    }
    &__list-item + .socials__list-item {
        margin-left: 30px
    }
    &__phone {
        font-family: 'Circe';
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #2C2A29;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #2C2A29;

    }
    &__img {
        height: 46px;
        width: 46px;
        cursor: pointer;
        transition: all .2s linear;
        &:hover {
            transform: scale(1.2);
        }
    }
    
}

//FOOTER
.footer {
    padding-bottom: 55px;
    &__inner {
        display: flex;
        padding-top: 57px;
        border-top: 1px solid #E0E2E5;
    }
    &__item {
       
        &:nth-child(2) {
            width: 265px;
            margin-left: 40px;
            margin-right: 70px;
            //background-color: red;
        }
    }
    &__title {
        font-weight: normal;
        font-size: 19px;
        line-height: 20px;
        color: #2C2A29;
        margin-bottom: 28px;
    }
    &__list-item {
        margin-bottom: 16px;
        
    }
    &__list-link {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #808285; 
        transition: all .2s linear;
        &:hover {
            color: $red;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: #E04E39;
        }
    }
    &__btn {
        font-weight: bold;
        font-size: 27px;
        line-height: 36px;
        color: $red;
        border: 1px solid $red;
        padding: 9px 67px;
        border-radius: 11px;
        display: inline-block;
        margin-left: 110px;
    }
}


.fix-nav {
    position: fixed;
    left: 0;
    top: 212px;
    display: flex;
    flex-direction: column;
    &__item {
        background-color: $red;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--img {
            height: auto;
            background-color: #ffffff;
        }
    }
}

.chat {
    position: fixed;
    bottom: 40px;
    right: 80px;
    cursor: pointer;
    text-align: center;
    line-height: 110px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #F17757;
    border: 1.82919px solid #E04E39;
    box-shadow: 7.31675px 7.31675px 9.14593px rgba(55, 84, 170, 0.1);
    &__img {
        width: 38px;
        height: 34px;
    }
}