@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap');



*,
*::after,
*::before {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; }

html {
    font-size: 100%; 
}

body {
    font-size: 1rem;
    //font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-family: 'PT Sans', sans-serif;
    // line-height: 1.05;
    //color: $main_color;
}
a {
    color: #000;
    text-decoration: none;
}

//colors
$red: #E04E39;
$beige: #EEE2D6;
$brown:#623B2A;



.wrapper {
    max-width: 1604px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    //max-width: 1236px;
    max-width: 1456px;
    margin: 0 auto;
    padding: 0 10px;
    //overflow: hidden;
}

//ОБЩИЕ СТИЛУ
.main-btn {
    display: block;
    border: 1px solid #58595B;
    border-radius: 11px;
    text-align: center;
    
    &__text {
        font-weight: bold;
        font-size: 18px;
        color: #58595B;
        text-transform: capitalize;
        transition: all .4s linear;
        &--active {
            color: #FDFDFD;
        }
        &--news {
            color: #58595B;
            font-family: 'Circe';
            font-weight: bold;
            font-size: 26px;
        }
    }
    &__icon {
        height: 20px;
        width: 20px;
        margin-right: 8px;
        fill: #58595B;
        stroke: #58595B;
        transition: all .4s linear;
    }
    &__strong {
        color: #EEE2D6;
    }
    &:hover {
        border-color: $red;
    }
    &:hover .main-btn__text {
        color: $red;
    }
    &:hover .main-btn__icon {
        fill: $red;
        stroke: $red;
    }
    &--active {
        background-color: $red;
        border-color: $red;
    }
}

// HEADER
.header {

    &__top {
        background-color: $red;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        padding-top: 6px;
    }
    &__burger {
        width: 30px;
        height: 25px;
        margin-right: 92px;
        padding-top: 6px;
        cursor: pointer;
    }
    &__logo {
        width: 94px;
        height: 32px;
        margin-right: 32px;
    }
    &__phone {
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        color: #FDFDFD;
    }
    &__work-time {
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        display: block;
        text-align: right;
    }
}

//NAVBAR
.navbar {
    &__list {
        display: flex;
        padding: 6px 0;
    }

    &__item {
        margin-left: 36px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;

    }
    &__icon {
       width: 36px;
       height: 36px;
    }
    &__text {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.27;
        color: #EEE2D6;
        padding-left: 16px;
    }
}

.main-content {
    //flex: 1 1 auto;
    &--news {
        background: #F5F5F5;
    }
    &--info {
        background-color: #ffffff;
    }
    &__inner {
        display: flex;
    }
    &__sidebar {
        flex: 0 0 228px;
        padding-right: 15px;
        
    }
    &__main {
        flex: 1 1 auto;
        padding-left: 15px;
        &--news {
            display: flex;
            padding-top: 38px;
            margin-left: -16px;
            margin-right: -16px;
            padding-bottom: 42px;
        }
    }
}

//SIDEBAR
.sidebar {
    border-right: 1px solid #B8B6B6;
    &__link {
         position: relative;
        &::after {
            content: "";
            display: block;
            width: 88px;
            height: 1px;
            background-color: #C39367;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__main-logo {
        width: 212px;
        height: 65px;
        margin-top: 15px;
        padding-bottom: 23px;
    }
    &__nav-list {
        margin-top: 60px;
    }
    &__nav-item {
        margin-bottom: 10px;
    }
    &__nav-link {
        height: 42px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

//MAIN
.main {
    //padding-left: 15px;
}

.showcase {
    width: 100%;
    //display: none;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 13px;
    }
    &__title {
        font-family: 'Circe';
        font-weight: 800;
        font-size: 45.5093px;
        //line-height: 150%;
        line-height: 68px;
        color: #623B2A;

    }
    &__strong {
        color: $red;
    }
    &__phone {
        //font-family: Circe;
        font-weight: bold;
        font-size: 31px;
        line-height: 46px;
        color: $red;
    }
    &__work-time {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        display: block;
        text-align: right;
        color: #2C2A29
    }
    &__btn {
        //display: inline-block;
        font-family: 'PT Sans';
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.085em;
        color: $red;
        border: 0.5px solid $red;
        padding: 13px 20px;
        margin-top: 16px;
        transition: all .4s ease-in-out;
        &:hover {
            color: $beige;
            background-color: $red;
            //box-shadow: 4px 4px 5px rgba(55, 84, 170, 0.1);
            box-shadow: 4px 4px  2px rgba(0, 0, 0, .2);
        }
    }
    &__slider {
        max-width: 1195px;
        //width: 100%;
        margin-top: 30px;
    }
    &__slider-item {
         border-radius: 9px;
        background-color: $beige;
        height: 100%;
        position: relative;
    }
    &__slider-svg {
        //height: 300px;
    }
    &__slider-caption {
        position: absolute;
        top: 0;
        right: 0;
        width:48%;
        padding-right: 32px;
        padding-top: 32px;
    }
    &__slider-title {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 50px;
        color:$red
    }
    &__slider-title-strong {
        color: $brown;
    }
    &__slider-text {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 31px;
        color: $brown;
        margin-top: 15px;
    }

    //slick slider css
    .slick-dots {
        bottom: 4px;
        left: 300px;
        list-style: none;
    }
    .slick-dots li button {
        width: 10px;
        height: 10px;
        background: #E3CCB7;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button{
        background: $red;
    }
    .slick-dots li button:before{
        content: "";
    }

}

//SERVICES
.services {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    margin: 0 -16px;
    &__item {
        //width: 275px;
        width: 25%;
        //min-height: 80px;
       
        padding: 0 16px;
        margin-bottom: 32px;
    }
    &__card {
        position: relative;
        height: 80px;
        background-color: #FDFDFD;
        border-radius: 11px;
        overflow: hidden;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: .3;
    }
    &__overlay {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 14px;
        padding-left: 18px;
        padding-bottom: 9px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, #E04E39 28.67%, rgba(224, 78, 57, 0) 100%);

    }
    &__title {
        font-family: "Circe";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        color: $beige;
    }
    &__text {
        font-weight: 400;
        font-size: 11.1169px;
        line-height: 14px;
        color: $beige;
    }
}

//NEWS
.news {

    &__content {
        position: relative;
        flex: 1;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__slider {
        flex: 1;
        //border: 1px solid red;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__nav-item {
        margin-right: 30px;
    }
    &__nav-list {
        display: flex;
        margin-bottom: 40px;
    }
    &__nav-link {
        font-family: 'Circe';
        font-weight: 700;
        font-size: 2.25rem;
        color: #EEE2D6;
        padding: 7px 22px;
    }
    &__card-item {
        border: 1px solid transparent;
         margin-bottom: 28px;
         transition: all .3s ease-in-out;
        &:hover {
            border-radius: 11px;
            border-left-width: 13px;
            padding: 11px;
            border-color: $red;
        }
    }
    &__card-text {
        font-weight: normal;
        font-size: 18px;
        color: #2C2A29;
        margin-bottom: 8px;
        line-height: 26px;
    }
    &__card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        font-weight: normal;
        font-size: 15.6818px;
        color: #58595B;
    }
    &__card-date {
        
    }&__card-btn {
        display: inline-block;
        padding: 8px 14px;
        &:hover {
            color: #EEE2D6;
            background-color: #C39367;
            border-radius: 5px;
            
        }
    }
    &__slider-item {
       position: relative;
    }
    &__slider-caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 24px 24px 8px 24px;
        text-align: right;
    }
    &__slider-text {
        font-weight: normal;
        font-size: 19px;
        line-height: 150%;
        color: #EEE2D6;
        text-align: left;
    }
    &__slider-btn {
        display: inline-block;
        font-weight: bold;
        font-size: 18.7522px;
        line-height: 150%;
        padding: 11px 46px;
        color: #C39367;
        border: 1px solid #C39367;
        border-radius: 11px;
        margin-top: 16px;
    }
    &__content-btn {
        position: absolute;
        left: 16px;
        bottom: 0px;
    }

    //bxslider
    .bx-wrapper {
       
        box-shadow: none;
        border:none;
        background: transparent;
        border-radius: 11px;
    }
    .bx-wrapper .bx-pager{
        bottom: 22px;
        left: -127px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background:  #E3CCB7;
    }
    .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $red;
    }
}