@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-style: normal;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  max-width: 1604px;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1456px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-btn {
  display: block;
  border: 1px solid #58595B;
  border-radius: 11px;
  text-align: center;
}

.main-btn__text {
  font-weight: bold;
  font-size: 18px;
  color: #58595B;
  text-transform: capitalize;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.main-btn__text--active {
  color: #FDFDFD;
}

.main-btn__text--news {
  color: #58595B;
  font-family: 'Circe';
  font-weight: bold;
  font-size: 26px;
}

.main-btn__icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  fill: #58595B;
  stroke: #58595B;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.main-btn__strong {
  color: #EEE2D6;
}

.main-btn:hover {
  border-color: #E04E39;
}

.main-btn:hover .main-btn__text {
  color: #E04E39;
}

.main-btn:hover .main-btn__icon {
  fill: #E04E39;
  stroke: #E04E39;
}

.main-btn--active {
  background-color: #E04E39;
  border-color: #E04E39;
}

.header__top {
  background-color: #E04E39;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
}

.header__burger {
  width: 30px;
  height: 25px;
  margin-right: 92px;
  padding-top: 6px;
  cursor: pointer;
}

.header__logo {
  width: 94px;
  height: 32px;
  margin-right: 32px;
}

.header__phone {
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #FDFDFD;
}

.header__work-time {
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  display: block;
  text-align: right;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0;
}

.navbar__item {
  margin-left: 36px;
}

.navbar__item:first-child {
  margin-left: 0;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__icon {
  width: 36px;
  height: 36px;
}

.navbar__text {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.27;
  color: #EEE2D6;
  padding-left: 16px;
}

.main-content--news {
  background: #F5F5F5;
}

.main-content--info {
  background-color: #ffffff;
  border-bottom: 1px solid #E0E2E5;
}

.main-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 228px;
          flex: 0 0 228px;
  padding-right: 15px;
}

.main-content__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
}

.main-content__main--news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 38px;
  margin-left: -16px;
  margin-right: -16px;
  padding-bottom: 42px;
}

.sidebar {
  border-right: 1px solid #B8B6B6;
}

.sidebar__link {
  position: relative;
}

.sidebar__link::after {
  content: "";
  display: block;
  width: 88px;
  height: 1px;
  background-color: #C39367;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sidebar__main-logo {
  width: 212px;
  height: 65px;
  margin-top: 15px;
  padding-bottom: 23px;
}

.sidebar__nav-list {
  margin-top: 60px;
}

.sidebar__nav-item {
  margin-bottom: 10px;
}

.sidebar__nav-link {
  height: 42px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__paragraphe {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 150%;
  color: #58595B;
  padding-right: 2rem;
  margin-top: 65px;
  margin-bottom: 23px;
}

.sidebar__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #263238;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
}

.sidebar__label span {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #E3CCB7;
  border-radius: 100%;
}

.sidebar__radio {
  display: none;
}

.sidebar__radio:checked + span {
  background-color: #C39367;
}

.sidebar__pub-img {
  width: 200px;
  margin-top: 100px;
}

.sidebar__stat-img {
  width: 200px;
}

.showcase {
  width: 100%;
}

.showcase__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 13px;
}

.showcase__title {
  font-family: 'Circe';
  font-weight: 800;
  font-size: 45.5093px;
  line-height: 68px;
  color: #623B2A;
}

.showcase__strong {
  color: #E04E39;
}

.showcase__phone {
  font-weight: bold;
  font-size: 31px;
  line-height: 46px;
  color: #E04E39;
}

.showcase__work-time {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  display: block;
  text-align: right;
  color: #2C2A29;
}

.showcase__btn {
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.085em;
  color: #E04E39;
  border: 0.5px solid #E04E39;
  padding: 13px 20px;
  margin-top: 16px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.showcase__btn:hover {
  color: #EEE2D6;
  background-color: #E04E39;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.showcase__slider {
  max-width: 1195px;
  margin-top: 30px;
}

.showcase__slider-item {
  border-radius: 9px;
  background-color: #EEE2D6;
  height: 100%;
  position: relative;
}

.showcase__slider-caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  padding-right: 32px;
  padding-top: 32px;
}

.showcase__slider-title {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 50px;
  color: #E04E39;
}

.showcase__slider-title-strong {
  color: #623B2A;
}

.showcase__slider-text {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 31px;
  color: #623B2A;
  margin-top: 15px;
}

.showcase .slick-dots {
  bottom: 4px;
  left: 300px;
  list-style: none;
}

.showcase .slick-dots li button {
  width: 10px;
  height: 10px;
  background: #E3CCB7;
  border-radius: 50%;
}

.showcase .slick-dots li.slick-active button {
  background: #E04E39;
}

.showcase .slick-dots li button:before {
  content: "";
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}

.services__item {
  width: 25%;
  padding: 0 16px;
  margin-bottom: 32px;
}

.services__card {
  position: relative;
  height: 80px;
  background-color: #FDFDFD;
  border-radius: 11px;
  overflow: hidden;
  cursor: pointer;
}

.services__card:hover {
  -webkit-transform: scale(1.05, 1.4);
          transform: scale(1.05, 1.4);
  border-top: 8px solid #E04E39;
  border-bottom: 8px solid #E04E39;
  border-left: 2px solid #E04E39;
  border-right: 2px solid #E04E39;
}

.services__card:hover .services__overlay {
  background: transparent;
  color: #2C2A29;
}

.services__card:hover .services__img {
  opacity: 1;
}

.services__card:hover .services__title, .services__card .services__text {
  color: #2C2A29;
}

.services__img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .3;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.services__overlay {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  padding-left: 18px;
  padding-bottom: 9px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(28.67%, #E04E39), to(rgba(224, 78, 57, 0)));
  background: linear-gradient(90deg, #E04E39 28.67%, rgba(224, 78, 57, 0) 100%);
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

.services__title {
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: #EEE2D6;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.services__text {
  font-weight: 400;
  font-size: 11.1169px;
  line-height: 14px;
  color: #EEE2D6;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.news__content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 16px;
  padding-right: 16px;
}

.news__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 16px;
  padding-right: 16px;
}

.news__nav-item {
  margin-right: 30px;
}

.news__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.news__nav-link {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 2.25rem;
  color: #EEE2D6;
  padding: 7px 22px;
}

.news__card-item {
  border: 1px solid transparent;
  margin-bottom: 28px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.news__card-item:hover {
  border-radius: 11px;
  border-left-width: 13px;
  padding: 11px;
  border-color: #E04E39;
}

.news__card-text {
  font-weight: normal;
  font-size: 18px;
  color: #2C2A29;
  margin-bottom: 8px;
  line-height: 26px;
}

.news__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 15.6818px;
  color: #58595B;
}

.news__card-btn {
  display: inline-block;
  padding: 8px 14px;
}

.news__card-btn:hover {
  color: #EEE2D6;
  background-color: #C39367;
  border-radius: 5px;
}

.news__slider-item {
  position: relative;
}

.news__slider-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px 24px 8px 24px;
  text-align: right;
}

.news__slider-text {
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  color: #EEE2D6;
  text-align: left;
}

.news__slider-btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18.7522px;
  line-height: 150%;
  padding: 11px 46px;
  color: #C39367;
  border: 1px solid #C39367;
  border-radius: 11px;
  margin-top: 16px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.news__slider-btn:hover {
  color: #E04E39;
  background: #EEE2D6;
}

.news__slider-btn--light {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #58595B;
  border-color: #58595B;
}

.news__slider-btn--light:hover {
  color: #E04E39;
  background: #F8B79E;
  border-color: #E04E39;
}

.news__content-btn {
  position: absolute;
  left: 16px;
  bottom: 0px;
}

.news .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  border-radius: 11px;
}

.news .bx-wrapper .bx-pager {
  bottom: 22px;
  left: -127px;
}

.news .bx-wrapper .bx-pager.bx-default-pager a {
  background: #E3CCB7;
}

.news .bx-wrapper .bx-pager.bx-default-pager a.active, .news .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #E04E39;
}

.info {
  position: relative;
  padding-bottom: 84px;
}

.info__title {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  color: #E04E39;
  margin-top: 97px;
}

.info__partener-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E2E5;
}

.info__partener-img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .4;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.info__partener-img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.info__form {
  margin-bottom: 407px;
}

.info__form-btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #58595B;
  border: none;
  padding: 11px 72px;
  margin-right: 33px;
  margin-top: 20px;
  border-radius: 11px;
  border: 1px solid #58595B;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.info__form-btn:hover {
  background-color: #E04E39;
  border-color: #E04E39;
  color: #EEE2D6;
}

.info__form-input {
  border: 1px solid #E04E39;
  border-radius: 11px;
  padding: 15px 30px;
  width: 465px;
  margin-top: 30px;
}

.info__form-input:focus {
  outline: none;
}

.info__time-title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 23px;
  color: #808285;
}

.info__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #A7A9AC;
  display: inline-block;
  width: 200px;
  margin-top: 25px;
}

.info__label span {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid #C39367;
  border-radius: 100%;
}

.info__radio {
  display: none;
}

.info__radio:checked + span {
  background-color: #C39367;
}

.info__map {
  position: absolute;
  right: 0;
  bottom: 77px;
}

.socials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__logo {
  margin-right: auto;
  width: 185px;
}

.socials__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #686665;
  margin-bottom: 16px;
}

.socials__icons {
  margin-right: 84px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__list-item + .socials__list-item {
  margin-left: 30px;
}

.socials__phone {
  font-family: 'Circe';
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #2C2A29;
  margin-bottom: 10px;
}

.socials__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2C2A29;
}

.footer {
  padding-bottom: 55px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 57px;
  border-top: 1px solid #E0E2E5;
}

.footer__item:nth-child(2) {
  margin-left: 40px;
  margin-right: 90px;
}

.footer__title {
  font-weight: normal;
  font-size: 19px;
  line-height: 20px;
  color: #2C2A29;
  margin-bottom: 28px;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #808285;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer__list-link:hover {
  color: #E04E39;
}

.footer__btn {
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  color: #E04E39;
  border: 1px solid #E04E39;
  padding: 9px 67px;
  border-radius: 11px;
  display: inline-block;
  margin-left: 110px;
}
/*# sourceMappingURL=styles.css.map */